{{#each groups}}
	<div class="card {{category}}" id="{{id}}" data-category="{{category}}" data-group="{{id}}">
		<div class="card-wrapper"> 
			<div class="card-section title">
				<div class="wrapper">
					<!-- Overview title -->
					<a href="#{{category}}_{{id}}" class="overview-title hide-in-full-report">
						<h3>{{name}}<span class="icon-arrow-right"></span></h3>

					</a>

					<!-- Full report title -->
					
					<div class="share pull-right hide-in-overview">
							<span class="icon-facebook facebook icon"
								data-id="{{category}}_{{id}}"
								data-title="Konjunkturrapport: Så tror Unionens klubbar att {{dictionary name 'determined' true}} utvecklas det kommande halvåret"
								data-msg="Unionen har frågat sina medlemsklubbar om hur de ser på sina företags framtid. Framtidsutsikten för {{dictionary name 'determined' true}} är {{toLowerCase outlook.label}} jämfört med tidigare.">
							</span>
							<span class="icon-twitter twitter icon"
								data-id="{{category}}_{{id}}"
								data-msg="Konjunkturrapport: Så tror Unionens klubbar att {{dictionary name 'determined' true}} utvecklas det kommande halvåret"
							></span>
							<span class="icon-mail email icon"
								data-id="{{category}}_{{id}}"
								data-title="Konjunkturrapport: Så tror Unionens klubbar att {{dictionary name 'determined' true}} utvecklas det kommande halvåret"
								data-msg="Unionen har frågat sina medlemsklubbar om hur de ser på sina företags framtid. Framtidsutsikten för {{dictionary name 'determined' true}} är {{toLowerCase outlook.label}} jämfört med tidigare."
							></span>
					</div>
					<a href="#{{category}}" class="back hide-in-overview">
						<span class="icon-arrow-left"></span>Tillbaka till översikten
					</a>
					<h3 class="full-report-title hide-in-overview">
						
						{{dictionary name 'in_sentence' false}}
						<small>{{dictionary name 'description' false}}</small>	
					</h3>

					

				</div>
			</div>
			<!-- Outlook today -->
			<div class="card-section current-outlook">
				<div class="wrapper">
					<!--<h4 class="hide-in-overview">Framtidsutsikt: {{outlook.label}}</h4>-->
					<div class="card-row">
						<div class="cell icon">
							<span class="icon-arrow {{outlook.className}} outlook"></span>
						</div>
						<div class="cell">
							<div class="overview">
								<label>Framtidsutsikt:</label>

								<span class="value">{{outlook.label}}</span>
							</div>

							<!--<div class="description">
								<p></p>
								<p>I vår senaste mätning den {{ latestUpdate }} bedömdes framtiden för {{dictionary name 'determined' 'true'}} som {{toLowerCase outlook.label }}.</p></div>-->
						</div>
					</div>
					<div class="full-report-link hide-in-full-report">
						<a href="#{{category}}_{{id}}">Detaljerad rapport<span class="icon-arrow-right"></span></a>
					</div>
				</div>
			</div>
			<!-- History chart -->
			<div class="card-section trend hide-in-overview">
				<div class="wrapper">
					<div class="history">
						<!-- Get history chart template -->
						<div class="history-chart" data-group="{{id}}"data-category="{{../category}}">
							{{> history values}}
							
						</div>
					</div>
				</div>
			</div>

			<div class="card-section full-report hide-in-overview">
				<div class="wrapper">
					<h4 class="industry">Nyckeltal inom {{dictionary name 'determined' 'true'}}</h4>
					<h4 class="category">{{dictionary name 'determined' false}} branschvis</h4>
					<div class="subgroups"></div>
				</div>
			</div>
		</div>	
	</div>
{{/each}}
